<a href="https://colab.research.google.com/github/Melek-Polat/SIFIRDAN_PYTHON/blob/main/ders.4%20Veri%20Tipi%20D%C3%B6n%C3%BC%C5%9F%C3%BCmleri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Veri Tipi Dönüşümleri
Bazı zaman bir ondalıklı sayıyı tam sayıya dönüştürme hatta ve hatta bir stringi tam sayıya dönüştürme işlemleri programlarımızı yazarken büyük önem taşır.Bu konuda bu tür dönüşümleri öğrenmeye çalışacağız.


##Tam Sayıyı Ondalıklı Sayıya Çevirme
Bir tam sayıyı ondalıklı sayıya çevirmek için float() fonksiyonunu kullanacağız.

In [1]:
#Çevireceğimiz sayıyı parantez içine alıyoruz.
a = 50
float(a)

50.0

In [2]:
float(-1)

-1.0

In [4]:
float(-13)

-13.0

#Ondalıklı Sayıyı Tam Sayıya Çevirme
Bir ondalıklı sayıyı tam sayıya çevirmek için int() fonksiyonunu kullanabiliriz.Sonuç ondalıklı sayının tam kısmı olarak karşımıza çıkacak.

In [7]:
b = 3.14
int(b)

3

In [5]:
int(40.3)

40

In [6]:
int(11.859845678)

11

#Sayıları Stringlere Çevirme 
Bir sayıyı stringe çevirmek için str()fonksiyonunu kullanabiliriz.Sayıyı oluşturan tüm rakamlar veya noktalar birer karaktere dönüşecek

In [14]:
a = 325684
b = str(a)
b

'325684'

In [9]:
str(345)

'345'

In [11]:
a = str(3.14)
a

'3.14'

In [13]:
a = str(345)
len(a)

3

In [12]:
a = str(3.14)
len(a)  # a'nın uzunluğu demektir.(noktayı da uzunluk olarak aldı o yüzden uzunluk 4 çıktı.)

4

#Stringleri TamSayıya Çevirme
Bir stringi bir tamsayıya çevirmek istediğimiz zaman int()fonksiyonunu kullanabiliriz.Ancak biraz dikkatli olmamızda fayda var.Dönüştürme işlemini yaparken stringin herbir karakterinin bir rakam olduğundan emin olmalıyız.

In [20]:
#Doğru
a = "3256458"
int(a)

3256458

In [17]:
#Hatalı- her bir karakterin 10^luk tabanda olması gerekir.Harf olduğu için hatalı
a = "ajdhcv457822"
b = int(a)
b

ValueError: ignored

In [19]:
#Hatalı-hatanın sebebi harflerdir.Harfler değilde rakamlar olsaydı sadece hatalı olmayacaktı.
a = "452fjdhfv"
int(a)

ValueError: ignored

#Stringleri Ondalıklı Sayıya Çevirme
Bir stringi bir ondalıklı sayıya çevirmek istediğimiz zaman float() fonksiyonunu kullanabiliriz.Ancak biraz dikkatli olmamızda fayda var.Dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız.

In [22]:
#Doğru
a = "3.12344564"
float(a)

3.12344564

In [23]:
#Hatalı-çünkü böyle bir ondalık form yoktur.
a = "3.12445.458"
float(a)

ValueError: ignored